# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [120]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0 :
       return min(a,b)
    else :
        return max(a,b)

In [121]:
# Check
lesser_of_two_evens(2,4)

2

In [122]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [114]:
def animal_crackers(text):
    my_list = text.lower().split()
    return my_list[0][0] == my_list[1][0]

In [115]:
# Check
animal_crackers('Levelheaded Llama')

True

In [116]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    return sum((n1,n2)) == 20 or 20 in (n1,n2)

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
def old_macdonald(name):
    new_macdonald = ''
    
    for a,b in enumerate(name) :
        if a in (0,3) :
            new_macdonald += b.upper()
        else :
            new_macdonald += b 
    return new_macdonald

In [15]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [18]:
def master_yoda(text):
    string_list = text.split()
    return " ".join(string_list[::-1])

In [19]:
# Check
master_yoda('I am home')

'home am I'

In [20]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [123]:
def almost_there(n):
    return abs(100-n) <= 10  or abs(200-n) <=10

In [124]:
# Check
almost_there(104)

True

In [125]:
# Check
almost_there(150)

False

In [126]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [131]:
def has_33(nums):
    for i in range(len(nums) - 1) :
        if nums[i] == 3 and nums[i+1] == 3: #or nums[i:i+2] == [3,3]
            return True
    return False

In [132]:
# Check
has_33([1, 3, 3])

True

In [129]:
# Check
has_33([1, 3, 1, 3])

False

In [130]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [37]:
def paper_doll(text):
    new_string = ''
    for s in text :
        new_string += s*3
    return new_string

In [38]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [39]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [85]:
def blackjack(a,b,c):
    num = sum((a,b,c))
    
    if 11 in (a,b,c) :
        num -= 10  
    if num > 21 :
        return 'BUST'
    
    return num

In [86]:
# Check
blackjack(5,6,7)

18

In [87]:
# Check
blackjack(9,9,9)

'BUST'

In [88]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [136]:
def summer_69(arr):
    sum = 0
    sum_flag = True
    for num in arr :
        if num == 6 :
            sum_flag = False
            
        if sum_flag :
            sum += num
            
        if not sum_flag and num == 9 :
            sum_flag = True
    
    return sum

In [137]:
# Check
summer_69([1, 3, 5])

9

In [138]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [139]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [147]:
def spy_game(nums):
    code = [0,0,7,'x']
    
    for i in nums :
        if i == code[0] :
            code.pop(0)
    
    return len(code) == 1

In [148]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [149]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [150]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [155]:
def count_primes(num):
    count = 0
    for i in range(2,num+1) :
        is_prime = True
        for j in range (2,i) :
            if i % j == 0 :
                #is_prime = False
                break
        else :      
            count +=1
        #if is_prime :
            #count += 1
    return count

In [156]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [112]:
def print_big(letter):
    d = {'a':'  *  \n * * \n*****\n*   *\n*   *\n'}
    print(d[letter])

In [113]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!