In [1]:
string = 'hello world'

for s in string:
    print(s)

h
e
l
l
o

w
o
r
l
d

In [2]:
my_list = [1,2,3,4]

for item in my_list:
    print(item)

1
2
3
4

In [3]:
tup = (1,2,3,4)
for items in tup:
    print (items)

1
2
3
4

In [4]:
my_list = [(1,2),(3,4),(5,6)]

for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [8]:
for a,b in my_list:
    print (f'{a} --> {b}')
    #print (b)

1 --> 2
2
3 --> 4
4
5 --> 6
6

In [9]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [11]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [12]:
for a,b in d.items():
    print (b)

1
2
3

In [13]:
for item in d.values():
    print (item)

1
2
3

In [14]:
for item in d.keys():
    print (item)

k1
k2
k3

In [21]:
i = 0

while i<5 :
    print (i)
    i += 1
else :
    print ('x is not less than 5')

0
1
2
3
4
x is not less than 5

In [22]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [23]:
for num in range(3,10):
    print (num)

3
4
5
6
7
8
9

In [24]:
for num in range(2,10,2):
    print (num)

2
4
6
8

In [25]:
range(2,10,2)

range(2, 10, 2)

In [26]:
list(range(2,10,2))

[2, 4, 6, 8]

In [27]:
word = 'abcdefg'

for item in enumerate(word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')

In [29]:
my_list = list(range(10))

In [31]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
for item in enumerate(my_list):
    print(item)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)

In [33]:
my_list = [1,2,3]
new_list = ['a','b','c']

for item in zip(my_list,new_list):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [34]:
zipped_list = list(zip(my_list,new_list))

In [35]:
zipped_list

[(1, 'a'), (2, 'b'), (3, 'c')]

In [36]:
1 in [2,3,4]

False

In [37]:
from random import shuffle

In [38]:
myList = list(range(10))

In [41]:
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
shuffle(myList)

In [43]:
myList

[7, 0, 5, 9, 4, 8, 3, 1, 2, 6]

In [44]:
result = input('what is your name: ')

what is your name: Gaurav

In [45]:
result

'Gaurav'

In [47]:
my_list = [letter for letter in 'Hello World']

In [48]:
my_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [2]:
mylist = [num for num in range(0,10) if num%2 == 0]

In [3]:
mylist

[0, 2, 4, 6, 8]

In [4]:
[x for x in 'hello']

['h', 'e', 'l', 'l', 'o']