In [2]:
mystring = 'abcdefghijk'

In [5]:
mystring[::-10]

'ak'

In [11]:

f='Box'
print('The {f} {f} {f}'.format(f=f))

The Box Box Box

In [19]:
f = 100/777

In [20]:
print('the number is {r:1.3f}'.format(r=f))

the number is 0.129

In [23]:
my_list = ['one', 'two', 'three']

In [24]:
my_list

['one', 'two', 'three']

In [25]:
my_list[-1:]

['three']

In [26]:
my_list[::-1]

['three', 'two', 'one']

In [28]:
my_list.remove('one')

In [29]:
my_list

['two', 'three']

In [32]:
my_list.append('one')

my_list

In [33]:
my_list

['two', 'three', 'one', 'one']

In [34]:
my_list.pop()

'one'

In [35]:
my_list

['two', 'three', 'one']

In [36]:
myList = [1,1,1,1,2,2,2,2,3,3,3,]

In [43]:
new_list = set(myList)

In [48]:
new_list

{1, 2, 3}

In [49]:
set('Mississippi')

{'M', 'i', 'p', 's'}